.banner-header {
  width: 100%;            
  height: 200px;          
  background-image: url('/src/assets/logo.jpg'); 
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;           

.banner-link {
  width: 100%;
  height: 100%;
  display: block;          
  text-decoration: none;
  color: transparent;
}
}